body{
    background: linear-gradient(lightblue, #D3D3FF, white, #D3D3FF, lightblue);
}

.navbar{
    display: grid;
    place-items: center;
    display:block;
}

#mynav{
    justify-content: normal;
}

.btn{
    margin-right:30px;
    font-size:20px;
}

.Aframe{
    display: grid;
    place-items: center;
    display:block;
    margin: auto;
    width: 500px;
    height: 500px;

}

.title{
    text-decoration: underline;
    font-family:Bungee;
    margin: 100px 20px 100px 20px;
    border-style: double;
    border-width: 5px;

}

.context{
    text-decoration: underline;
    border-style: solid;
    font-family:Bungee;
    background: linear-gradient(green, lightgreen, green);
}

.softcard{
    padding:10px;
    font-size:15px;
    background-color:grey;
    color:white;
    font-family:Roboto Slab;
}

.h3context{
    font-size:20px;
    font-family:Roboto Slab;
}

.space{
    margin:5px;
    font-size:30px;
}

.h3ware{
    font-size:18px;
    font-family:Roboto Slab;
}

.screen{
    display: grid;
    place-items: center;

}

.biochar{
    display: grid;
    place-items: center;
    background: linear-gradient( black, lightgreen, black);

}

.card-title{
    color:black;
}

.card{
    font-size:15px;
    background-color:grey;
    color:white;
    font-family:Roboto Slab;
}

.aframing{
    text-decoration: underline;
    font-family:Bungee;
    margin: 50px 20px 50px 20px;
    border-style: double;
    border-width: 5px;
}

iframe{
    border: 5px solid black;
    display: grid;
    place-items: center;
    background: linear-gradient( grey, white, grey);
}

.ll{
    padding:20px;
    display: grid;
    place-items: center;
}

.lll{
    border: 3px solid lightblue;

}

.des{
    color:lightgreen;
}
